﻿<body ng-controller="addMantisController" class="container">
    <form class="form-horizontal" ng-submit="submitMantisForm()" role="form">

        <div class="form-group">

            <div class="col-sm-2"></div>
            <label class="col-sm-1 control-label">Numer mantisa:</label>
            <div class="col-sm-2">
                <input type="text" id="mantisNumber" class="form-control" ng-model="mantis.number" placeholder="np. 4022" />
            </div>
            <div class="col-sm-6">
            </div>

        </div>


        <div class="form-group">         
            <div class="col-sm-2"></div>
            <label class="col-sm-1 control-label">Czy wyceniony:</label>
            <div ng-init="mantis.is_Estimated='false'"></div>

            <label class="col-sm-1 control-label rbFormMantis">
                <input type="radio" ng-model="mantis.is_Estimated" value="true"> tak
            </label>
            <label class="col-sm-1 control-label rbFormMantis">
                <input type="radio" ng-model="mantis.is_Estimated" value="false" ng-click="resetMantisEstimation()"> nie
            </label>
            <div class="col-sm-6 control-label"></div>
         </div>

            <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="col-sm-1 control-label">Na ile:</label>
            <div class="col-sm-2">
                <input type="text" id="mantisEstimation" class="form-control" ng-disabled="mantis.is_Estimated == 'false'" ng-model="mantis.estimation" placeholder="np. 8" />
            </div>
            <div class="col-sm-6 control-label"></div>
          
        </div>

        <div class="form-group" >

            <div class="col-sm-2"></div>
            <label class="col-sm-1 control-label">Opis:</label>
            <div class="col-sm-2">
                <textarea class="form-control" rows="3" ng-model="mantis.description" placeholder="Opis..."></textarea>

            </div>
            <div class="col-sm-6"></div>

        </div>

        <div class="form-group">

            <div class="col-sm-2"></div>
            <label class="col-sm-1 control-label">Temat:</label>
            <div class="col-sm-2">
                <select class="form-control" name="mySelect" id="mySelect"
                        ng-options="option.name for option in projects.project"
                        ng-model="selectedOption"></select>
            </div>
            <div class="col-sm-6"></div>

        </div>


        <input type="submit" value="Submit" ng-click="ButtonClick()"  class="btn btn-primary col-sm-offset-3" />
        <input type="reset" value="Reset" ng-click="" class="btn" /> <br />


       <!-- <div>x   {{ mantis | json }} x</div>-->
    </form>
   
</body>