﻿<link rel="stylesheet" href="../../Css/ListMantisForm.css" />

<div  class="col-md-3"></div>

<div ng-controller="showMantisesController" class="col-md-6">
    <form>
        <div class="form-group">
            <div class="input-group col-md-12" >
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Wyszukaj po numerze mantisa" ng-model="searchMantis.MantisNo">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Wyszukaj po opisie" ng-model="searchMantis.Description" ng-change="clear()">

            </div>          
        </div>
    </form>

 
    
    <table border="1" class="table table-hover table-condensed table-responsive  ">
        <thead>
            <tr>
                <th class="id">
                   #
                </th>
                <th class="MantisNo">
                    Numer mantisa
                </th>
                <th class="MantisEstimation">
                    Wycena
                </th>
                <th class="MantisDescription">
                    Opis
                </th>
            </tr>
        </thead>
        <tbody class="d-flex">
            <tr ng-repeat="m in mantises | filter:searchMantis">

                <th>
                    {{$index+1}}
                </th>
                <td>
                    {{m.MantisNo}}
                </td>
                <td>
                    {{checkEstimation(m) }}
                </td>
                <td>
                    {{m.Description}}
                </td>
               
            </tr>
        </tbody>
    </table>

</div>
<div class="col-md-3"></div>