﻿#logo {
    width:100px;
}

.aLogo {
        padding: 10px 15px 0px;
}

.divLogo {
    height:50px;
}

#navigationBar {
    background-color:black;
}

.navbar-default .navbar-nav > li > a {
    color:red;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:white;
    background-color:red;
}