﻿<div  class="col-md-3"></div>
<div ng-controller="showMantisesController" class="col-md-6">
    <form>
        <div class="form-group">
            <div class="input-group col-md-12" >
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Wyszukaj po numerze mantisa" ng-model="searchMantis.MantisNo">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Wyszukaj po opisie" ng-model="searchMantis.Description" ng-change="clear()">

            </div>          
        </div>
    </form>

 
    
    <table border="1" class="table ">
        <thead >
            <tr>
                <th>
                    Numer mantisa
                </th>

                <th>
                    Czy wycenione
                </th>
                <th>
                    Wycena
                </th>
                <th>
                    Opis
                </th>
            </tr>
        </thead>
        <tr ng-repeat="m in mantises | filter:searchMantis">

            <td>
                {{m.MantisNo}}
            </td>

            <td>
                {{m.is_Estimated}}
            </td>
            <td>
                {{m.Estimation}}
            </td>
            <td>
                {{m.Description}}
            </td>
               
        </tr>
    </table>

</div>
<div class="col-md-3"></div>